<main>
  <h1 class="text-center text-uppercase">Hello world</h1>
  <h2 class="text-end text-lowercase">Second</h2>
  <h3 class="text-capitalize">3 title one two</h3>

  <hr>
  <div class="display-1 text-muted">Hello world</div>
  <div class="display-5">Second</div>
  <div class="display-6">3 title</div>


  <hr>
  <div class="text-muted text-end">
    Додатковий <span class="display-6">текст</span>
  </div>
  
  <hr>
  <div class="card">
    <div class="card-body">
      <a href="#" class="btn btn-primary">
    Button primary
    </a>

    </div>
  </div>
  <br>
  <br>

  <p class="text-primary">My text</p>
  <hr>

  <div class="card">
    <div class="card-body">
      <button class="btn btn-outline-primary">Додати</button>
      <button class="btn btn-outline-danger">Видалити</button>
    </div>
  </div>

  <br>
  <br>

  <hr>

  <div class="card">
    <div class="card-body">
      This is content
    </div>
  </div>
</main>