<main class="p-5"> 
  <h1>Hello! <i class="bi bi-emoji-smile-fill"></i></h1>
  
  <button class="btn btn-primary"><i class="bi bi-sd-card"></i></button>

  <div>
    <i class="fa-brands fa-slack"></i>
  </div>
  
</main>











{{!-- 
<main class="p-5">
  <div class="row g-5"> 
    <div class="col-12">
        <label class="form-label">Email address</label>
        <input class="form-control">
        <div class="form-text text-danger">Error. You need to set correct email</div>
    </div>

    <div class="col-12">
      <div class="row ">
          <div class="col-2">
          <label class="form-label">Email address</label>
        </div>
        <div class="col-6">
          <input class="form-control form-control-sm mt-2">
        </div>
        <div class="col-4 ps-4">
          <div class="form-text text-danger">Error. You need to set correct email</div>
        </div>
      </div>
    </div>

    <div>
      <hr>
    </div>

    <div class="col-12">
        <label class="form-label">Select role</label>
        <select class="form-select form-select-sm">
          <option selected>Open list</option>
          <option value="1">Admin</option>
          <option value="2">User</option>
        </select>
        <div class="form-text text-danger">Error. You need to set correct email</div>
    </div>

    <div>
      <hr>
    </div>

    <div class="col-12">
      <div class="form-check form-switch">
        <label class="form-check-label">Get bonus</label>
        <input type="checkbox" class="form-check-input">
      </div>
    </div>

  </div>
</main>







  </div> --}}

  {{!-- <br>
  <br>
  <br>

  <div class="card text-bg-primary">

    <div class="card-header">
      <h5 class="card-title">Menu</h5>
    </div>

    <ul class="list-group">
      <li class="list-group-item">
        <a class="btn btn-link" href="#">Home page</a>
      </li>
      <li class="list-group-item">
        <a class="btn btn-link" href="#">Summary page</a>
      </li>
      <li class="list-group-item">
        <a class="btn btn-link" href="#">Skills page</a>
      </li>
    </ul>

    <div class="card-footer">
      <button class="btn btn-dark btn-sm">Update list</button>


  <br>
  <br>
  <br>

  <div class="row gx-5 gy-1">
    <div class="col-4">
      <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
          <h6 class="card-title">Success title</h6>
          <p>This is contenr for our box.</p>
          <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
      </div>
    </div>
    <div class="col-4">
      <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
          <h6 class="card-title">Success title</h6>
          <p>This is contenr for our box.</p>
          <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
      </div>
    </div>
    <div class="col-4">
      <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
          <h6 class="card-title">Success title</h6>
          <p>This is contenr for our box.</p>
          <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
      </div>
    </div>
    <div class="col-4">
      <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
          <h6 class="card-title">Success title</h6>
          <p>This is contenr for our box.</p>
          <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
      </div>
    </div>
    <div class="col-4">
      <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
          <h6 class="card-title">Success title</h6>
          <p>This is contenr for our box.</p>
          <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
      </div>
    </div>
  </div> --}}


  {{!-- <hr>

  <div class="card">
    <div class="card-body">
      This is content
    </div>
  </div>
</main> --}}

