{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}

<div class=" row p-3">
    <h3>Список сторінок</h3>
    <div>Мій перший проект, зроблений на курсі IT-BRAINS</div>


    <div  class="mt-5 col-12">
        <a class="btn btn-primary" href="skills">Skills</a>
        <a class="btn btn-primary" href="summary">Summary</a>
        <a class="btn btn-primary" href="education">Education</a>
        <a class="btn btn-primary" href="work">Work</a>
    </div>
</div>





{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}